<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="ServicesSection" type="PingGo.ServiceConfigurationSection, PingGo"/>
   </configSections>
   <ServicesSection>
      <Services>
         <add Name="IDA Forsikring" Url="https://idaforsikring.dk" IsActive="true"/>
         <add Name="Service.IDA" Url="https://service.ida.dk" IsActive="true"/>
         <add Name="IDA" Url="https://ida.dk" IsActive="true"/>
      </Services>
   </ServicesSection>
      
  <!--<configSections>
    <section name="serverSection" type="PingGo.ConnectionSection, PingGo" />
  </configSections>
  <serverSection>
    <Servers>
      <Element name="RemoteServer"
                    servername="68.240.22.19"
                    userid="abhijit"
                    password="passcode"
                    isactive="true" />
      <Element name="RemoteServer2"
                    servername="68.240.22.19"
                    userid="abhijit"
                    password="passcode"
                    isactive="true" />
    </Servers>
  </serverSection>-->
  <!--<Watches>
      <Watch name="IDA" url="http://ida.dk" isActive="true" />
      <Watch name="Service.IDA" url="http://service.ida.dk" isActive="true" />
    </Watches>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
